.Folio_Card {
  /* background-color: green; */

  /* margin-top: 30px; */
  margin-bottom: 30px;
  /* padding-top: 100px; */

  /* overflow: hidden; */

  height: 700px;

  /* position: relative; */
}

.Port_Img {
  /* width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

 
  vertical-align: middle; */

  /* width: 50%; */
  /* height: 100%; */
  /* object-fit: cover; */
}

.txt {
  /* position: absolute; */
  /* text-align: center; */
  /* bottom: -14px; */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  color: white;

  font-size: 10vw;
  vertical-align: middle;
  text-align: center;
  /* font-size-adjust: 100%; */
  /* left: 16px; */
}

@media (max-width: 960px) {
  .Folio_Card {
    height: 400px;
  }

  .txt {
    font-size: 20vw;
  }
}
