.Service_Card {
  /* height: 200px; */
  max-width: 1000px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: inline-flex;

  padding-left: 20px;
  padding-right: 20px;

  /* padding: 10px; */
  /* margin: 10px; */

  /* display: inline; */
  /* grid-template-columns: repeat(2, auto); */

  /* margin: 0 auto; */
  /* background-color: green; */
}

/* .Serviceline {
  height: 1px;
  width: 200px;

  background-color: darkgrey;
  margin: 0 auto;
} */

.Ser_Img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.SerIMGdiv {
  width: 50%;
  background-color: red;
  height: 300px;

  /* overflow: hidden; */
}

.Ser_Text {
  /* height: 100%; */
  /* width: 500px; */
  padding-left: 20px;
  padding-right: 20px;

  /* background-color: blue; */
  text-align: left;
  /* text-decoration: underline; */

  /* align to base */
  align-self: flex-end;

  /* position: absolute; */
  /* bottom: 0; */
}

.Servline {
  height: 1px;
  /* width: 100px; */

  background-color: darkgrey;
  margin: 0 auto;
}

@media (max-width: 960px) {
  .Service_Card {
    display: block;
  }

  .Ser_Text {
    padding-left: 0px;
    padding-right: 0px;
  }

  .SerIMGdiv {
    width: 100%;
    /* height: 300px; */
    overflow: hidden;
  }

  .Ser_Img {
    /* width: 100%;
    object-fit: contain; */

    /* width: 100%; */
  }
}
