:root {
  --white: rgb(248, 248, 248);
  --grey: rgb(241, 241, 241);
  /* --white: red; */
}

.navbar {
  height: 50px;
  position: fixed;
  width: 100vw;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  font-size: 1.2rem;
  z-index: 1;

  /* box-shadow: 0px 0.01px 2px 0px; */
  box-shadow: 0px 0.001px 1.6px 0px;

  background-color: var(--white);
}

.navbar-logo {
  color: rgb(29, 29, 29);
  justify-self: start;
  margin-left: 100px;
  width: 100vw;

  /* cursor: pointer; */
}

.fa-react {
  margin-left: 0.5rem;
  font-size: 1.6rem;
}

.nav-menu {
  display: grid;
  /* background-color: green; */
  grid-template-columns: repeat(5, auto);
  gap: 20px;
  list-style: none;
  text-align: center;

  width: 90vw;
  justify-content: end;
  /* align-items: right; */
  margin-right: 2rem;
  font-size: 15px;
}

.nav-links {
  color: rgb(29, 29, 29);
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-links:hover {
  /* background-color: #6d76f7; */
  border-radius: 0px;
  transition: all 0.2s ease-out;
  color: rgb(106, 218, 255);
  cursor: pointer;
  /* border-bottom: 1px solid white; */
}

.fa-bars {
  color: rgb(29, 29, 29);
  font-size: 1.2rem;
  margin-right: 5px;
  /* background-color: red; */
  position: relative;
  top: -12px;
  /* padding: 10px; */
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media (max-width: 960px) {
  .navbar {
    /* position: absolute; */
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    padding: 0px;

    /* padding: 40px; */

    width: 0%;
    /* height: 100vh; */
    min-height: 100vh;
    position: absolute;
    top: 36px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    /* width: 100%; */
    background: white;
    position: absolute;
    width: 100%;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    margin-top: 50px;
    padding: 0px;
    width: 100%;
    display: table;
    font-size: 20px;
    /* background-color: blue; */
  }

  .nav-links:hover {
    /* background-color: rgb(66, 66, 66); */
    border-radius: 0;
    border-bottom: 0px solid white;
  }

  .navbar-logo {
    position: absolute;
    margin-left: 20px;
    /* top: 0;
    left: 0;
    transform: translate(25%, 50%); */
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: rgb(29, 29, 29);
    font-size: 1.6rem;

    margin-right: 5px;
    /* background-color: red; */
    position: relative;
    top: -12px;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    background: #4ad9e4;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #6568f4;
    transition: 250ms;
  }

  /* Button {
    display: none;
  } */
}
